input {
    width: 100%;
    padding: 0.55em 0.5em;
    border: none;
    border-radius: 3px;
    color: var(--clr-bg);
    font-size: var(--fs-300);
}
input:focus:not([type='checkbox']) {
    outline: none;
    box-shadow: 0 0 0 2px rgba(225, 202, 126, 0.956);
}
input:focus:invalid {
    box-shadow: 0 0 0 2px rgba(225, 202, 126, 0.956);
}
input::placeholder {
    font-size: var(--fs-300);
}