.book-item {
    display: grid;
    grid-template-columns: 0.5fr 0.3fr 0.2fr 0.2fr 35px;
    gap: 2em;
    font-size: var(--fs-300);
    border-bottom: 1px solid var(--clr-border);
    p {
        padding: 0.55em 0.25em;

    }
}