.title {
    font-size: var(--fs-600);
    font-weight: 600;
    padding-block: 0.25em;
}
.title_main {
    font-size: var(--fs-700);
    font-weight: 700;
    background-color: blanchedalmond;
    
}