.burger {
    display: block;
    z-index: 200;
    transition: all 0.5s ease;
    cursor: pointer;
    span {
        transition: transform 0.5s, opacity 0.3s;
        margin-bottom: 5px;
        display: block;
        width: 20px;
        height: 1px;
        background-color: black;
        opacity: 1;
        transform-origin: center center;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.burger_close {
    span:nth-child(1) {
        transform: translate(0px, 6px) rotate(45deg);
    }
    span:nth-child(2) {
        transform: translate(45deg);
        opacity: 0;
    }
    span:nth-child(3) {
        transform: translate(0px, -6px) rotate(-45deg);
    }
}


@media screen and (min-width: 768px) {
    .burger {
        display: none;
    }
}