@import url(../global.css);
@import url(../components/container.css);
@import url(../components/header.css);
@import url(../components/form.css);
@import url(../ui/titles.css);
@import url(../ui/section.css); 
@import url(../ui/buttons.css);
@import url(../ui/links.css);
@import url(../ui/inputs.css);

.header__container {
    z-index: 1;
    background-color: var(--clr-bg);
    margin-bottom: 0.5em;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-bg);
    align-items: center;
    gap: 1rem;
}
.book-item {
    display: grid;
    grid-template-columns: 0.5fr 0.3fr 0.2fr 0.2fr;
}
.book-list__form {
    margin-bottom: 0.8em;
    display: none;
}
.book-list-form__button {
    margin-right: 1em;
}
.footer {
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
    margin: auto;
    font-size: var(--fs-200);
    text-align: center;
    color: #16dee55c;
}
