*, 
*::after, 
*::before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
:root {
    --font-family: system-ui, sans-serif;
    --fs-200: clamp(0.63rem, calc(0.56rem + 0.25vw), 0.75rem);
    --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
    --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
    --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
    --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
    --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
    --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
    --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

    --clr-border: #ffffff1a;
    --clr-text: #e1ca7e;
    --clr-bg: #0a6567;
}
body {
    font-family: var(--font-family);
    font-size: var(--fs-300);
    background-color: var(--clr-bg);
    color: var(--clr-text);
    height: 100svh;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
/* article p {
    font-size: 1em;
    line-height: calc(1ex / 0.32);
    margin: calc(1ex / 0.32) 0;
}
article {
    max-inline-size: 66ch;
} */